app-fresh-finance{

  
    width: 12%;
    display: flex;
    
    align-items:center;
}

app-links{

   
    width: 55%;
    display:flex;
    align-items: center;
    
}

app-login{

   
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}