span{

    font-size: .7em;
    color: rgb(90, 89, 89);
}

img{

    width: 15%;
    height: 60%;
    border-radius: 50%;
}

mat-icon{

    color: white;
    background-color: blue;
    border-radius: 50%;
    
   
    
}