
app-advice{

    height: 40%;
    display: var(--flexing);
    flex-direction: var(--direction);
    justify-content: flex-end;
    align-content: flex-end;
    justify-items: flex-end;
   
}

app-icons{

    display: var(--flexing);
    flex-direction: var(--direction);
    height: 50%;
    gap: 3em;
    
    padding-right: 15%;
}

app-bottm-buttons{
    padding-top: 5.5%;
    height: 10%;
    display: var(--flexing);
    gap: 1em;
}

