button{

    background-color: transparent;
    height: 50%;
    width: 40%;
    color: white;
    font-weight: 700;
    border: none;
}

.getInTouch{

    background-color:var(--btnsColor);
    border: none;
    height: 60%;
    width: 40%;
    color: white;
    border-radius: 5%;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    align-content: center;

}