button{

    background-color: transparent;
    height: 50%;
    width: 40%;
    color: white;
    font-weight: 700;
    border: none;
}

.getInTouch{

    background-color: rgb(9, 142, 160);
    border: none;
    height: 50%;
    width: 40%;
    color: white;
    border-radius: 5%;
    font-weight: 500;
}