.mainContainer{
    height: 100vh;
    background-color: white;
    display: var(--flexing);
    flex-direction: var(--direction);
    padding-left: 10%;     
}

.mainContainer{
        
   
}


app-top-part{
   background-image:linear-gradient(to right,white ,transparent),url(../assets/black-and-white-bussines-1024x531.jpg);
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    height: 55%;
    width: 100%;
      
}

app-bottom-part{
    height: 45%;
    display: var(--flexing);
    flex-direction: var(--direction); 
}

