app-toolbar{

    height: 15%;
    display: flex;
    font-weight: bold;
}

.topDiv{

    height: 100%;
    
    flex-direction: column;
    padding-right: 15%;
    justify-content: space-between;
   
}

.topDiv app-big-text {

    display: var(--flexing);
    flex-direction: var(--direction);
}



app-big-text{

    height: 35%;
    justify-content: flex-end;
    width: 100%;
}

app-about-bussiness{

    height: 10%;
    
    width: 100%;
    display: var(--flexing);
    align-items: var(--direction);
    
    
    
}

app-buttons{

    height: 25%;
    display: flex;
    align-items: center;
    gap: .5em;
    
  
    
    
}


